<nav class="nav navbar">
    <ul style="display: inline;">
        <li style="display: inline;"> <a href="/Home/Index">Home</a></li>
        <li style="display: inline;"> <a href="/Home/Sobre">Sobre</a></li>
        <li style="display: inline;"> <a href="/Home/Ajuda">Ajuda</a></li>
        <li style="display: inline;"> <a href="/Home/Create">Criar</a></li>
    </ul>
</nav>
